<h2>Editing Interview Scheduled</h2>
<hr class="my-4">
<%= render 'form', interview_schedule: @interview_schedule %>
<br>
<%= link_to 'Show', @interview_schedule ,class:'btn btn-secondary' %>
<%= link_to 'Back', interview_schedules_path ,class:'btn btn-secondary' %>
