<h2>Schedule New Interview</h2>
<hr class="my-4">

<%= render 'form', interview_schedule: @interview_schedule %>
<br>
<%= link_to 'Back', interview_schedules_path , class:'btn btn-secondary p-btn' %>
